name: cargo-show - build & test on OSX and Windows
on:
  push:
    branches:
      - master

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1
  USERNAME: efreak
  VCPKG_EXE: ${{ github.workspace }}/vcpkg/vcpkg
  FEED_URL: https://nuget.pkg.github.com/efreak/index.json
  VCPKG_BINARY_SOURCES: "clear;nuget,https://nuget.pkg.github.com/efreak/index.json,readwrite"

jobs:
  build_and_test:
    name: cargo-show - latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: OSX - rust stable
            os: macos-latest
            toolchain: stable
          - name: Windows - rust stable
            os: windows-latest
            toolchain: stable
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.toolchain == 'nightly' }}
    steps:
      - name: Add NuGet sources
        shell: cmd
        run: |
          powershell -c "git clone https://github.com/microsoft/vcpkg --single-branch --branch (Invoke-RestMethod -Uri https://api.github.com/repos/microsoft/vcpkg/releases/latest | Select-Object -ExpandProperty tag_name)"
          ${{ github.workspace }}/vcpkg/bootstrap-vcpkg.bat
          vcpkg fetch nuget `
            sources add `
            -Source "${{ env.FEED_URL }}" `
            -StorePasswordInClearText `
            -Name GitHubPackages `
            -UserName "${{ env.USERNAME }}" `
            -Password "${{ secrets.VCPKG_PAT_TOKEN }}"
          env.VCPKG_EXE fetch nuget `
            setapikey "${{ secrets.GITHUB_TOKEN }}" `
            -UserName "${{ env.USERNAME }}" `
            -Password "${{ secrets.VCPKG_PAT_TOKEN }}" `
            -Source "${{ env.FEED_URL }}"
        if: ${{ matrix.os == 'windows-latest' }}
      - uses: actions/checkout@v3
      - run: rustup set profile minimal
      - run: rustup update --no-self-update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: vcpkg install openssl:x64-windows-static-md
        if: ${{ matrix.os == 'windows-latest' }}
      - run: cargo build --verbose
      - run: cargo test --verbose
permissions:
  packages: write
