name: cargo-show - build & test on Linux
on:
  push:

env:
  CARGO_TERM_COLOR: always
  RUST_BACKTRACE: 1

jobs:
  build_and_test:
    name: cargo-show - latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Linux - rust stable
            os: ubuntu-latest
            toolchain: stable
          - name: Linux - rust beta
            os: ubuntu-latest
            toolchain: beta
          - name: Linux - rust nightly
            os: ubuntu-latest
            toolchain: nightly
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.toolchain == 'nightly' }}
    steps:
      - uses: actions/checkout@v3
      - run: rustup set profile minimal
      - run: rustup update --no-self-update ${{ matrix.toolchain }} && rustup default ${{ matrix.toolchain }}
      - run: cargo build --verbose
      - run: cargo test --verbose
